body {
    margin: 0;
}

#content {
    background: none !important;
}

.video-player-dimensions {
    height: auto !important;
    width: auto !important;
    background: black;
}

video {
    display: block;
    margin: auto;
}

.node-buttons,
.node-info,
.views-column {
    text-align: center;
}

img {
    height: auto !important;
    width: auto !important;
    max-width: 100vw;
    max-height: 100vh;
}

.slick-track {
    opacity: 1 !important;
    width: auto !important;
    transform: none !important;
}

header,
#r18-warning,
.container>.region.region-before-content,
.block.block-extra-content,
.vjs-poster,
.vjs-loading-spinner,
.vjs-big-play-button,
.vjs-hidden,
.vjs-control-bar,
.video-processing,
iframe {
    display: none;
}

.views-row,
.views-column {
    margin-top: 50px;
}